# Session1

Introduction to Variables in Python

Data Storage Containers

In [ ]:
# Write Operation
video1_likes = 2112000
video2_likes = 135000

# Read Operation
print("video1 likes is:", video1_likes, ":)")
print("video2 likes is:", video2_likes)

video1 likes is: 2112000 :)
video2 likes is: 135000

In [ ]:
video1_comments = 300
video2_comments = 500
 
video1_views = 8765141
video2_views = 15672775
 
print("video1 comments is:", video1_comments, ":)")
print("video2 comments is:", video2_comments)
 
print("video1 views is:", video1_views, ":)")
print("video2 views is:", video2_views)

video1 comments is: 300 :)
video2 comments is: 500
video1 views is: 8765141 :)
video2 views is: 15672775

In [ ]:
if video1_views > video2_views:
  print("Lets Watch Video1")
else:  
  print("Lets Watch Video2")

Lets Watch Video2

In [ ]:
criteria1 = 0.50*video1_views + 0.30*video1_likes + 0.20*video1_comments
criteria2 = 0.50*video2_views + 0.30*video2_likes + 0.20*video2_comments

print("criteria1:", criteria1)
print("criteria2:", criteria2)

criteria1: 5016230.5
criteria2: 7876987.5

In [ ]:
if criteria1 > criteria2:
  print("Based on Criteria: Lets Watch Video 1")
else:
  print("Based on Criteria: Lets Watch Video 2")

Based on Criteria: Lets Watch Video 2

# Session2

In [ ]:
# Create Containers in Memory

# Single Value Containers
# int i.e. integer
age = 10
# float i.e. decimal values
discount = 0.50
# str i.e. string which means text
name = 'john watson'

sias_age = 10

print(age, type(age), id(age), hex(id(age)))
print(sias_age, type(sias_age), id(sias_age), hex(id(sias_age)))
print(discount, type(discount))
print(name, type(name))
"""This is a comment"""
instagram_id = """auribises"""
print(instagram_id, type(instagram_id))

# In Python -> age, discount, name and sias_age are known as Reference Variables

10 <class 'int'> 94461877324576 0x7f9b75fcf830
10 <class 'int'> 94461877324576 0x55e99ea48b20
0.5 <class 'float'>
john watson <class 'str'>
auribises <class 'str'>

In [ ]:
# Multi Value Container
marks = (95, 75, 80, 82, 77)
print(marks, type(marks), id(marks))
print(marks[0])
print(marks[4])
# marks[0] = 88 # error

marks = [95, 75, 80, 82, 77]
print(marks, type(marks), id(marks))
marks[1] = 85
print(marks, type(marks), id(marks))


# maharashtra_cases = [6396805, 62452, 6195744]
maharashtra_cases = {
  "confirmed":  6396805,
  "active": 62452,
  "recovered": 6195744,
}
print(maharashtra_cases, type(maharashtra_cases))

john_instagram_followers = {"jennie", "jim", "mike", "lee", "dave", "mike"}
print(john_instagram_followers, type(john_instagram_followers))
john_instagram_followers.add("jennie")
print(john_instagram_followers, type(john_instagram_followers))

(95, 75, 80, 82, 77) <class 'tuple'> 140151988947280
95
77
[95, 75, 80, 82, 77] <class 'list'> 140151989018128
[95, 85, 80, 82, 77] <class 'list'> 140151989018128
{'confirmed': 6396805, 'active': 62452, 'recovered': 6195744} <class 'dict'>
{'mike', 'jim', 'lee', 'dave', 'jennie'} <class 'set'>
{'mike', 'jim', 'lee', 'dave', 'jennie'} <class 'set'>

In [ ]:
covid_cases = {
    "maharashtra": [6396805, 62452, 6195744],
    "punjab": [6396805, 62452, 6195744],
    "himachal": [6396805, 62452, 6195744],
    "haryana": [6396805, 62452, 6195744],
}
print(covid_cases["maharashtra"])
print(covid_cases["maharashtra"][1])

[6396805, 62452, 6195744]
62452

In [ ]:
#          0.   1.  2.  3.  4. 
numbers = [10, 20, 30, 40, 50]

students = ["keshav", "raunish", "agam", "sanat", "ritish"]

# Reference Copy
auribises_students = students

print("students")
print(students)
print(type(students))

print("auribises_students")
print(auribises_students)
print(type(auribises_students))

print("students hashcode:", id(students))
print("students[1] hashcode:", id(students[1]))
9
print("auribises_students hashcode:", id(auribises_students))
print("auribises_students[1] hashcode:", id(auribises_students[1]))

auribises_students[1] = "john"

print("students hashcode:", id(students))
print("students[1] hashcode:", id(students[1]))

print("students finally:", students)

students
['keshav', 'raunish', 'agam', 'sanat', 'ritish']
<class 'list'>
auribises_students
['keshav', 'raunish', 'agam', 'sanat', 'ritish']
<class 'list'>
students hashcode: 139838015700176
students[1] hashcode: 139837918383920
auribises_students hashcode: 139838015700176
auribises_students[1] hashcode: 139837918383920
students hashcode: 139838015700176
students[1] hashcode: 139837918541424
students finally: ['keshav', 'john', 'agam', 'sanat', 'ritish']

# Session3

Introduction to Operators

In [ ]:
# Operators
# Arithmetic Operators
# +, -, *, /, **, //, %

num1 = 10
num2 = 20
num3 = num1 + num2
print("num3:", num3)


num4 = 3
# num5 = num1 / num4
num5 = num1 // num4
print(num5)

num6 = num4 ** 3
print("num6:", num6)

num7 = num1 % num4
print("num7 is:", num7)

num3: 30
3
num6: 27
num7 is: 1

In [ ]:
# Assignment Operators
# =, +=, -=, *=, /=, //=, **=

# create operation
a = 10
print(a is 10)
print("hashcode of a:", id(a))

# update operation
a = 20
print("hashcode of a now:", id(a))

dish_quantity = 0

# update operation
# dish_quantity = dish_quantity + 1
dish_quantity += 1
dish_quantity += 1
dish_quantity += 1
dish_quantity -= 1
dish_quantity *= 2
dish_quantity %= 3
dish_quantity /= 3
print("dish_quantity:", dish_quantity)

True
hashcode of a: 94035381508896
hashcode of a now: 94035381509216
dish_quantity: 0

In [ ]:
# Conditional
# >, <, >=, <=, ==, !=
cab_fare = 150
e_wallet = 200

print("can i book cab:", (cab_fare <= e_wallet))
print("can i book cab:", (cab_fare >= e_wallet))

promo_code = "ZOMATO"
code = input("Enter Promo Code: ")
print("Can i get discount", (promo_code == code))

# Explore: is vs ==

can i book cab: True
can i book cab: False
Enter Promo Code: tedgdhd
Can i get discount False

In [ ]:
# Logical Operators
# and, or

promo_code = "ZOMATO"
min_amount = 300

code = input("Enter Promo Code: ")
amount = int(input("Enter Total Amount: "))

print("Can i get Discount", ((code == promo_code) and (amount > min_amount)))
print("Can i get Discount", ((code == promo_code) or (amount > min_amount)))

Enter Promo Code: ZOMATO
Enter Total Amount: 200
Can i get Discount False
Can i get Discount True

In [ ]:
# Memebership Testing
students = ["john", "jack", "fionna", "dave", "kim"]
print("john" in students)
print("harry" in students)
print("sia" not in students)

True
False
True

# Session4

Introduction to File IO

In [ ]:
with open("dishes.csv", "w") as file:
  file.write("dal makhani,100\n")
  file.write("paneer butter masala,200\n")
  file.write("noodles,100\n")
  file.write("burger,50\n")

print("data saved")

data saved

In [ ]:
with open("dishes.csv", "r") as file:
  data = file.read()
  print(data)

name,price
dal makhani,100
paneer butter masala,200
noodles,100
burger,50

In [ ]:
with open("contacts.csv", "a") as file:
    file.write("{},{}\n".format("NAME", "PHONE"))

while True:
  name = input("Enter Name of Person: ")
  phone = input("Enter Phone of Person: ")

  with open("contacts.csv", "a") as file:
    file.write("{},{}\n".format(name, phone))

  choice = input("Would you liked to add more? Enter quit to exit")
  if choice == "quit":
    break

# Session5

Explore for and while loop

use loops to sum up the data

Queries
1. HashCodes
   Data is stored in RAM. Data gets stored in buckets
   In case we have only 1 Bucket. And if we have 1st 100 numbers, we will store all numbers 1-100 in the same bucket.

   In another case we can have 10 buckets. This means now we can save 1-100 numbers in 10 buckets.
   Benefit: To read the number it will take less time

   Hashsing -> Algo to get the bucke# in which we will store the number

   Consider the 
   number = 20
   bucketSize = 10
   hashCode = number % bucketSize -> 0

   number = 17
   bucketSize = 10
   hashCode = number % bucketSize -> 7

In [ ]:
for number in range(1, 11):
  print("number is:", number)
  print("hello")

print("Thank You")


for number in range(2, 101, 2):
  print("number with step of 2 is:", number)

# Nested Loop: Loop in a Loop
for i in range(1, 6): # 1 2 3 4 5
  print("For i:", i)
  for j in range(1, 4): # 1 2 3
    print("j is:", j)

# Complete this program -> list the 100 prime numbers between 1 to 100
# hint -> use nested for loop
# for number in range(1, 101):
#   print("number:", number)

In [ ]:
for i in range(1, 6):
  for j in range(1, i+1):
    print(j, end=" ")
  
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1, 6):
  for j in range(1, i+1):
    print(i, end=" ")
  
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# BLACK - 1
# WHITE - 0

# 4X4
# 1 0 1 0
# 0 1 0 1
# 1 0 1 0
# 0 1 0 1

# hint: if/else
for i in range(1, 9): 
  for j in range(1, 9):
    print(j%2, end=" ")
  print()

1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0
1 0 1 0 1 0 1 0

# Session6

Loops Again

In [ ]:
num=5
i=1

while i <=10:
  print(num, i, "'a are", num*i)
  i += 1 # i = i + 1

5 1 'a are 5
5 2 'a are 10
5 3 'a are 15
5 4 'a are 20
5 5 'a are 25
5 6 'a are 30
5 7 'a are 35
5 8 'a are 40
5 9 'a are 45
5 10 'a are 50

In [ ]:
num=7
for i in range(1, 11, 2):
  print(num, i, "'a are", num*i)

7 1 'a are 7
7 3 'a are 21
7 5 'a are 35
7 7 'a are 49
7 9 'a are 63

In [ ]:
# Nested Loops
for i in range(1, 11):
  print("TABLE:", i)
  for j in range(1, 11):
    print(i, j, "'s are", (i*j))
    # print(i*j, end=" ")
  print("~~~~~~~~~~~~~~~~~~")

TABLE: 1
1 1 's are 1
1 2 's are 2
1 3 's are 3
1 4 's are 4
1 5 's are 5
1 6 's are 6
1 7 's are 7
1 8 's are 8
1 9 's are 9
1 10 's are 10
~~~~~~~~~~~~~~~~~~
TABLE: 2
2 1 's are 2
2 2 's are 4
2 3 's are 6
2 4 's are 8
2 5 's are 10
2 6 's are 12
2 7 's are 14
2 8 's are 16
2 9 's are 18
2 10 's are 20
~~~~~~~~~~~~~~~~~~
TABLE: 3
3 1 's are 3
3 2 's are 6
3 3 's are 9
3 4 's are 12
3 5 's are 15
3 6 's are 18
3 7 's are 21
3 8 's are 24
3 9 's are 27
3 10 's are 30
~~~~~~~~~~~~~~~~~~
TABLE: 4
4 1 's are 4
4 2 's are 8
4 3 's are 12
4 4 's are 16
4 5 's are 20
4 6 's are 24
4 7 's are 28
4 8 's are 32
4 9 's are 36
4 10 's are 40
~~~~~~~~~~~~~~~~~~
TABLE: 5
5 1 's are 5
5 2 's are 10
5 3 's are 15
5 4 's are 20
5 5 's are 25
5 6 's are 30
5 7 's are 35
5 8 's are 40
5 9 's are 45
5 10 's are 50
~~~~~~~~~~~~~~~~~~
TABLE: 6
6 1 's are 6
6 2 's are 12
6 3 's are 18
6 4 's are 24
6 5 's are 30
6 6 's are 36
6 7 's are 42
6 8 's are 48
6 9 's are 54
6 10 's are 60
~~~~~~~~~~~~~~~~~~
TABLE: 7
7 1 's are 7
7 2 's are 14
7 3 's are 21
7 4 's are 28
7 5 's are 35
7 6 's are 42
7 7 's are 49
7 8 's are 56
7 9 's are 63
7 10 's are 70
~~~~~~~~~~~~~~~~~~
TABLE: 8
8 1 's are 8
8 2 's are 16
8 3 's are 24
8 4 's are 32
8 5 's are 40
8 6 's are 48
8 7 's are 56
8 8 's are 64
8 9 's are 72
8 10 's are 80
~~~~~~~~~~~~~~~~~~
TABLE: 9
9 1 's are 9
9 2 's are 18
9 3 's are 27
9 4 's are 36
9 5 's are 45
9 6 's are 54
9 7 's are 63
9 8 's are 72
9 9 's are 81
9 10 's are 90
~~~~~~~~~~~~~~~~~~
TABLE: 10
10 1 's are 10
10 2 's are 20
10 3 's are 30
10 4 's are 40
10 5 's are 50
10 6 's are 60
10 7 's are 70
10 8 's are 80
10 9 's are 90
10 10 's are 100
~~~~~~~~~~~~~~~~~~

In [ ]:
# CHESS BOARD
for i in range(1, 9):
  for j in range(1, 9):
    if i%2 == 0:
      print((j+1)%2, end=" ")  
    else:
      print(j%2, end=" ")
      
  print()

1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1

In [ ]:
# i = 10
# print(i, type(i))

# chess_board = [1, 0, 1, 0, 1, 0, 1, 0]
# print(chess_board, type(chess_board))
# print(len(chess_board))

# row_1 -> is a list of integers
#.       0                    7
row_1 = ["B", "W", 1, 0, 1, 0, 1, 0]
row_2 = [0, 1, 0, 1, 0, 1, 0, 1]
row_3 = [1, 0, 1, 0, 1, 0, 1, 0]
row_4 = [0, 1, 0, 1, 0, 1, 0, 1]
row_5 = [1, 0, 1, 0, 1, 0, 1, 0]
row_6 = [0, 1, 0, 1, 0, 1, 0, 1]
row_7 = [1, 0, 1, 0, 1, 0, 1, 0]
row_8 = [0, 1, 0, 1, 0, 1, 0, 1]

# chess_board -> List of Lists(here every list is further list of ints) :)
chess_board = [
       row_1, # 0
       row_2,
       row_3,
       row_4,
       row_5,
       row_6,
       row_7,
       row_8, # 7
]

# print(chess_board)

# for - each loop
for row in chess_board:
  print(row)

print("~~~~~~~~~~~")

for i in range(0, 8):
  print(chess_board[i])


# Assumne Queen is Q
# Assumne King is K
queen = "Q"  
king = "K"

chess_board[0][3] = king
chess_board[0][4] = queen


chess_board[7][3] = queen
chess_board[7][4] = king

print("~~~~~~~~~~~")

for i in range(0, 8):
  print(chess_board[i])


row = int(input("Enter Row for Queen: "))  
column = int(input("Enter Column for Queen: "))  

chess_board[row][column] = queen


print("~~~~~~~~~~~")

for i in range(0, 8):
  print(chess_board[i])

# Session7

In [ ]:
quote_in_english = "Work Hard Be Successfull"
quote_in_hindi = "कड़ी मेहनत करें और सफल बनें"
quote_in_punjabi = "ਸਖਤ ਮਿਹਨਤ ਕਰੋ ਅਤੇ ਸਫਲ ਬਣੋ"

print(quote_in_english)
print(quote_in_hindi)

print(quote_in_english[0])
print(quote_in_hindi[0])

print(ord(quote_in_english[0]))
print(ord(quote_in_hindi[0]))

print(hex(ord(quote_in_english[0])))
print(hex(ord(quote_in_hindi[0])))

Work Hard Be Successfull
कड़ी मेहनत करें और सफल बनें
W
क
87
2325
0x57
0x915

In [ ]:
# Unicode Range for Languages
# https://unicode-table.com/en/blocks/

# To Covert Hexadecimal to Decimal
# https://www.rapidtables.com/convert/number/hex-to-decimal.html

languages = {
    #           0    1
    "hindi": [2304, 2431],
    "punjabi": [2560, 2687],
}

# print(languages["hindi"])
# print(languages["punjabi"])
# print(languages["punjabi"][0])
# print(languages["punjabi"][1])

# Iteration
for language in languages:
  print(language)
  print(languages[language])
  print(languages[language][0])
  print(languages[language][1])

In [ ]:
quote = input("Enter Quote: ")

languages = {
    #           0    1
    "hindi": [2304, 2431],
    "punjabi": [2560, 2687],
}

for language in languages:
  if ord(quote[0]) >= languages[language][0] and ord(quote[0]) <= languages[language][1]:
    print("Language is:", language)
    break

Enter Quote: कड़ी मेहनत करें और सफल बनें
Language is: hindi

In [ ]:
languages = {
    #           0    1
    "hindi": [2304, 2431],
    "punjabi": [2560, 2687],
}

file_name = input("Enter File Name: ")

with open(file_name, "r") as file:
  file_contents = file.read().strip()

  print(file_contents[2], ord(file_contents[2]))

  for language in languages:
    if ord(file_contents[0]) >= languages[language][0] and ord(file_contents[0]) <= languages[language][1]:
      print("Language in File is:", language)
      break

Enter File Name: data.txt
ਤ 2596
Language in File is: punjabi

In [ ]:
rupee = "\u20b9"
print(rupee)
print()

₹

# Session8

Assignment 1: Read from File the numbers. create list and sum all of them

Assignment 2: Find maximum and minimum in the file

In [ ]:
with open("data.txt") as file:
  lines = file.readlines()
  # print(lines)
  # print(type(lines))

  # print(int(lines[0]), type(int(lines[0])))

  result = 0
  max = int(lines[0])
  min = int(lines[0])

  for i in range(0, 10):
    # print(int(lines[i]))
    result = result + int(lines[i])

    if int(lines[i]) > max:
      max = int(lines[i])

  print("result is:", result)  
  print("max is:", max)

result is: 1425
max is: 1000

# Session9

Customer Management Software

In [ ]:
import datetime


while True:
  name = input("Enter Customer Name: ")
  phone = input("Enter Customer Phone: ")
  email = input("Enter Customer Email: ")
  today = datetime.datetime.today()

  customer_to_save = "{},{},{},{}\n".format(name, phone, email, today)
  print("customer_to_save:", customer_to_save)

  with open("customers.csv", "a") as file:
    file.write(customer_to_save)
    
  choice = input("Enter quit to break")
  if choice == "quit":
    break

Enter Customer Name: John
Enter Customer Phone: 9876512345
Enter Customer Email: john@example.com
customer_to_save: John,9876512345,john@example.com,2021-08-27 11:59:20.529860

Enter quit to breakno
Enter Customer Name: fionna
Enter Customer Phone: 9876509090
Enter Customer Email: fionna@example.com
customer_to_save: fionna,9876509090,fionna@example.com,2021-08-27 11:59:34.968642

Enter quit to breakno
Enter Customer Name: Mike
Enter Customer Phone: 9876534567
Enter Customer Email: mike@example.com
customer_to_save: Mike,9876534567,mike@example.com,2021-08-27 11:59:48.745765

Enter quit to breakno
Enter Customer Name: Jim
Enter Customer Phone: 9090912121
Enter Customer Email: jim@example.com
customer_to_save: Jim,9090912121,jim@example.com,2021-08-27 12:00:20.026174

Enter quit to breakquit

In [ ]:
# Dictionary
menu = {
    "dal": 200,
    "roti": 20,
    "paneer": 300,
    "burger": 100,
    "noodles": 150,
    "pizza": 300
}

# Empty List
dishes = []
quantities = []
cart = []

# empty dictionary
order = {}

customer_phone = input("Enter Customer Phone: ")
print("Placing Order for Customer", customer_phone)

while True:
  dish = input("Enter dish: ")
  quantity = float(input("Enter dish quantity: "))
  price = menu[dish] * quantity

  order[dish] = {
      "price": price,
      "quantity": quantity,
      "price_per_quantity": menu[dish]
  }
  
  dishes.append(dish)
  cart.append(price)
  quantities.append(quantity)

  choice = input("Enter quit to break, yes to continue")
  if choice == "quit":
    break

print("Cart is:", cart)
print("Dishes are:", dishes)
print("Quantities are:", quantities)
print("TOTAL is: \u20b9", sum(cart))

print("Order is:", order)

Enter Customer Phone: 9090912121
Placing Order for Customer 9090912121
Enter dish: dal
Enter dish quantity: 1.5
Enter quit to break, yes to continueyes
Enter dish: paneer
Enter dish quantity: 2
Enter quit to break, yes to continueyes
Enter dish: roti
Enter dish quantity: 8
Enter quit to break, yes to continuequit
Cart is: [300.0, 600.0, 160.0]
Dishes are: ['dal', 'paneer', 'roti']
Quantities are: [1.5, 2.0, 8.0]
TOTAL is: ₹ 1060.0
Order is: {'dal': {'price': 300.0, 'quantity': 1.5, 'price_per_quantity': 200}, 'paneer': {'price': 600.0, 'quantity': 2.0, 'price_per_quantity': 300}, 'roti': {'price': 160.0, 'quantity': 8.0, 'price_per_quantity': 20}}

In [ ]:
import datetime

with open("orders.csv", "a") as file:
  file.write("{},{},{}\n".format(customer_phone,sum(cart),datetime.datetime.today()))
  print("ORDER SAVED")

ORDER SAVED

In [ ]:
# with open("{}-order.csv".format(customer_phone), "w") as file:
#   print("DISH,QUANTITY,TOTAL\n")

with open("{}-order.csv".format(customer_phone), "a") as file:
  
  for dish in order:
    file.write("{},{},{}\n".format(dish, order[dish]['quantity'], order[dish]['price']))

**Assignment**

When placing the order, we are asking cutomer's phone number.

If the phone is in the customers.csv file, fetch name and email and write customer phone, name and email in the file orders.csv alongwith order information

If the phone is not in the customers.csv file, ask name and email, save in customers.csv file and finally place the order with customer details and order details.